@model SteamWeb.ViewModels.Games.Index
@using SteamWeb.ViewModels.Games



<h2>@ViewData["header"]</h2>
<table class = "table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Release Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(GameItem item in Model.Games)
        {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                $@item.Price
            </td>
            <td>
                @item.ReleaseDate.ToShortDateString()
            </td>
            <td>
                <a asp-controller="Games" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
            </td>
            <td>
                <a asp-controller="Games" asp-action="Detail" asp-route-id="@item.Id"> Details </a>
            </td>
            <td>
                <a asp-controller="Games" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
            </td>
            <td>
                <a asp-controller="Games" asp-action="Buy" asp-route-id="@item.Id"> Buy </a>
            </td>
        </tr>

        }
    </tbody>
</table>
